@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');
/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');
/* font-family: 'Signika Negative', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* :root {} */

.app {
  --primaryColor: #eee;
  --secondaryColor2: rgb(185, 130, 93);
  --secondaryColor: rgb(133, 88, 55);
  --bookBtnColor: rgb(95, 72, 56);
  --favoriteRoomColor: rgb(44, 26, 18);
  --footerBgColor: rgb(20, 20, 20);
  --appBgColor: rgb(10, 10, 10);
  /* --appBgColor: rgb(12, 12, 12); */
  --buttonFont: "Signika Negative", sans-serif;
  --textFont: "Comfortaa", sans-serif;
  --titleFont: "Merriweather", sans-serif;
  /* --navbarBgColor: rgb(32, 19, 9); */



  background-color: var(--appBgColor);
  color: var(--primaryColor);
  width: 100vw;
  /* min-height: 200vh; */
  /* padding-bottom: 10vh; */

}

.headerBGOneImage {
  background: url("./images/homeImages/Superior\ 11.jpg");
  /* background: red; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  filter: brightness(0.5);
  object-fit: cover;
  animation: zoom 20s ease infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) translateX(-5%);
  }

  100% {
    transform: scale(1);
  }
}

.mainSection {
  position: relative;
  height: 100vh;
  width: 80vw;
  max-width: 1360px;
  margin: 5vh auto 0;
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Merriweather", sans-serif;
  text-align: center;
  color: var(--secondaryColor2);
  margin-bottom: 2vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBorder {
  width: 150px;
  height: 2px;
  background: var(--primaryColor);
}

.footer {
  background: url("./images/homeImages/footerBg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 85%;
  filter: sepia(1) brightness(0.1);
}